<div style="width:350px;" class="example-container">
  <h4 >Worksheet task log form</h4>
  <form [formGroup]="registerForm"  style="font-size: 12px;height: 400px;overflow: auto;" (ngSubmit)="onSubmit()" >

    <p style="margin: 0px;" >Task</p>
      <mat-form-field appearance="outline" (click)="data.item=undefined" >
        <mat-error *ngIf="submitted && f.task.errors" >
          <span *ngIf="f.task.errors.required"> * Task is required !!!</span>
        </mat-error>
        <mat-select placeholder="{{data.item!=undefined ? data.item.task.name : 'Select task'}}" formControlName="task" 
        [ngClass]="{ 'is-invalid': submitted && f.task.errors }" (selectionChange)="get_log_task_status()">
        <mat-option>
          <ngx-mat-select-search placeholderLabel="Find task..." 
          i18n-placeholderLabel
          noEntriesFoundLabel="No matching task found"
          i18n-noEntriesFoundLabel [formControl]="listFilterCtrl2"></ngx-mat-select-search>
        </mat-option>
          <mat-option *ngFor="let item of filteredList2 | async" [value]="item">{{item.name}}</mat-option>
        </mat-select>
      </mat-form-field>
   
      <p style="margin: 0px;" >Shift</p>
      <mat-form-field  appearance="outline" >
        <mat-select placeholder="Select shift" formControlName="shift" [ngClass]="{ 'is-invalid': submitted && f.shift.errors }">
          <mat-option value="D">Day</mat-option>
          <mat-option value="N">Night</mat-option>
        </mat-select>
        <mat-error *ngIf="submitted && f.shift.errors" >
          <span *ngIf="f.shift.errors.required">* Shift is required !</span>
        </mat-error>
      </mat-form-field>
  
      <p style="margin: 0px;" >Start time</p>
      <mat-form-field appearance="outline" >
        <mat-select placeholder="{{data.item!=undefined ? data.item.startTime : 'Select tmie'}}"  formControlName="startTime" 
        [ngClass]="{ 'is-invalid': submitted && f.startTime.errors }" (selectionChange)="assignWorkHours()">
          <mat-option *ngFor="let item of timeList" [value]="item">{{item}}</mat-option>
        </mat-select>
        <mat-error *ngIf="submitted && f.startTime.errors" >
          <span *ngIf="f.startTime.errors.required">* Start time is required !</span>
        </mat-error>
      </mat-form-field>
  
      <p style="margin: 0px;" >End time</p>
      <mat-form-field  appearance="outline" >
        <mat-select placeholder="{{data.item!=undefined ? data.item.endTime : 'Select tmie'}}"  formControlName="endTime" 
        [ngClass]="{ 'is-invalid': submitted && f.endTime.errors }" (selectionChange)="assignWorkHours()">
          <mat-option *ngFor="let item of timeList" [value]="item">{{item}}</mat-option>
        </mat-select>
        <mat-error *ngIf="submitted && f.endTime.errors" >
          <span *ngIf="f.endTime.errors.required">* End time is required !</span>
        </mat-error>
      </mat-form-field>
      
      <input type="hidden"  placeholder="Type work hours"  formControlName="workHours" [ngClass]="{ 'is-invalid': submitted && f.workHours.errors }">
      <mat-error style="font-size: 9px;font-weight: 400;margin-top: -10px;margin-left:9px;" *ngIf="submitted && f.workHours.errors" >
        <span *ngIf="f.workHours.errors.min">* Total working hours must be greater then 0 hours !</span>
        <span *ngIf="f.workHours.errors.max">* Total working hours can't be more than 12 hours !</span>
      </mat-error>
        
    
      <p  *ngIf="this.registerForm.controls.task.value.logType=='EHP' || this.registerForm.controls.task.value.logType=='EH'" style="margin: 0px;" >Worker</p>
      <mat-form-field appearance="outline" *ngIf="this.registerForm.controls.task.value.logType=='EHP' || this.registerForm.controls.task.value.logType=='EH'" >
        <mat-select placeholder="{{data.item!=undefined ? data.item.worker1.firstName+' '+data.item.worker1.lastName : 'Select worker'}}" formControlName="worker1" 
        [ngClass]="{ 'is-invalid': submitted && f.worker1.errors }">
          <mat-option>
            <ngx-mat-select-search placeholderLabel="Find worker..." 
            i18n-placeholderLabel
            noEntriesFoundLabel="No matching worker found"
            i18n-noEntriesFoundLabel [formControl]="listFilterCtrl"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let item of filteredList | async" [value]="item">{{item.firstName}} {{item.lastName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="submitted && f.worker1.errors" >
          <span *ngIf="f.worker1.errors.required">* Worker is required !</span>
        </mat-error>
      </mat-form-field>

      <p  *ngIf="this.registerForm.controls.task.value.logType=='EHP' || this.registerForm.controls.task.value.logType=='EH'" style="margin: 0px;" >Worker Other</p>
      <mat-form-field appearance="outline" *ngIf="this.registerForm.controls.task.value.logType=='EHP' || this.registerForm.controls.task.value.logType=='EH'" >
        <mat-select placeholder="{{data.item!=undefined ? data.item.worker2.firstName+' '+data.item.worker2.lastName : 'Select worker other'}}" formControlName="worker2" 
        [ngClass]="{ 'is-invalid': submitted && f.worker2.errors }">
          <mat-option>
            <ngx-mat-select-search placeholderLabel="Find worker other..." 
            i18n-placeholderLabel
            noEntriesFoundLabel="No matching worker other found"
            i18n-noEntriesFoundLabel [formControl]="listFilterCtrl4"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let item of filteredList4 | async" [value]="item">{{item.firstName}} {{item.lastName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="submitted && f.worker2.errors" >
          <span *ngIf="f.worker2.errors.required">* Worker other is required !</span>
        </mat-error>
      </mat-form-field>

      <p  *ngIf="this.registerForm.controls.task.value.logType=='XHP' || this.registerForm.controls.task.value.logType=='XH'" style="margin: 0px;" >Driller</p>
      <mat-form-field appearance="outline" *ngIf="this.registerForm.controls.task.value.logType=='XHP' || this.registerForm.controls.task.value.logType=='XH'" >
        <mat-select placeholder="{{data.item!=undefined ? data.item.driller.firstName+' '+data.item.driller.lastName : 'Select driller'}}" formControlName="driller" 
        [ngClass]="{ 'is-invalid': submitted && f.driller.errors }">
          <mat-option>
            <ngx-mat-select-search placeholderLabel="Find driller..." 
            i18n-placeholderLabel
            noEntriesFoundLabel="No matching driller found"
            i18n-noEntriesFoundLabel [formControl]="listFilterCtrl5"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let item of filteredList5 | async" [value]="item">{{item.firstName}} {{item.lastName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="submitted && f.driller.errors" >
          <span *ngIf="f.driller.errors.required">* Driller is required !</span>
        </mat-error>
      </mat-form-field>

      <p  *ngIf="this.registerForm.controls.task.value.logType=='XHP' || this.registerForm.controls.task.value.logType=='XH'" style="margin: 0px;" >Helper</p>
      <mat-form-field appearance="outline" *ngIf="this.registerForm.controls.task.value.logType=='XHP' || this.registerForm.controls.task.value.logType=='XH'" >
        <mat-select placeholder="{{data.item!=undefined ? data.item.helper.firstName+' '+data.item.helper.lastName : 'Select helper'}}" formControlName="helper" 
        [ngClass]="{ 'is-invalid': submitted && f.helper.errors }">
          <mat-option>
            <ngx-mat-select-search placeholderLabel="Find helper..." 
            i18n-placeholderLabel
            noEntriesFoundLabel="No matching helper found"
            i18n-noEntriesFoundLabel [formControl]="listFilterCtrl6"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let item of filteredList6 | async" [value]="item">{{item.firstName}} {{item.lastName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="submitted && f.helper.errors" >
          <span *ngIf="f.helper.errors.required">* Helper is required !</span>
        </mat-error>
      </mat-form-field>
  
      <p *ngIf="this.registerForm.controls.task.value.logType=='EHP' || this.registerForm.controls.task.value.logType=='XHP'" style="margin: 0px;" >Start meter</p>
      <mat-form-field appearance="outline" *ngIf="this.registerForm.controls.task.value.logType=='EHP' || this.registerForm.controls.task.value.logType=='XHP'" >
        <input type="number" matInput placeholder="Start meter" (click)="meterToRengeValidate()" (change)="meterToRengeValidate()"
         formControlName="startMeter" [ngClass]="{ 'is-invalid': submitted && f.startMeter.errors }">
        <mat-error *ngIf="submitted && f.startMeter.errors" >
          <span *ngIf="f.startMeter.errors.required">* Start meter is required !</span>
          <span *ngIf="f.startMeter.errors.min">* Start meter can't be less then 0.</span>
        </mat-error>
      </mat-form-field>
  
      <p *ngIf="this.registerForm.controls.task.value.logType=='EHP' || this.registerForm.controls.task.value.logType=='XHP'" style="margin: 0px;" >End meter</p>
      <mat-form-field appearance="outline" *ngIf="this.registerForm.controls.task.value.logType=='EHP' || this.registerForm.controls.task.value.logType=='XHP'" >
        <input type="number" matInput placeholder="End Meter" (click)="meterToRengeValidate()" (change)="meterToRengeValidate()" 
        formControlName="endMeter" [ngClass]="{ 'is-invalid': submitted && f.endMeter.errors }">
        <mat-error *ngIf="submitted && f.endMeter.errors" >
          <span *ngIf="f.endMeter.errors.required">* End meter can't be less then start meter.</span>
          <span *ngIf="f.endMeter.errors.min">* End meter can't be less then or equal to start meter.</span>
        </mat-error>
      </mat-form-field>

      <p  *ngIf="this.registerForm.controls.task.value.logType=='EHP' || this.registerForm.controls.task.value.logType=='XHP'" style="margin: 0px;" >Core size</p>
      <mat-form-field appearance="outline" *ngIf="this.registerForm.controls.task.value.logType=='EHP' || this.registerForm.controls.task.value.logType=='XHP'" >
        <mat-select placeholder="{{data.item!=undefined ? data.item.coreSize.core : 'Select core size'}}" formControlName="coreSize" [ngClass]="{ 'is-invalid': submitted && f.coreSize.errors }">
          <mat-option>
            <ngx-mat-select-search placeholderLabel="Find core size..." 
            i18n-placeholderLabel
            noEntriesFoundLabel="No matching core size found"
            i18n-noEntriesFoundLabel [formControl]="listFilterCtrl3"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let item of filteredList3 | async" [value]="item">{{item.core}}</mat-option>
        </mat-select>
      </mat-form-field>

      <p  style="margin: 0px;" >Comment</p>
      <mat-form-field appearance="outline" >
        <textarea matInput placeholder="type comment" formControlName="comment" [ngClass]="{ 'is-invalid': submitted && f.comment.errors }"></textarea>
      </mat-form-field>
  
<div style="float: right;">
   <button type="submit" *ngIf="registerForm.value.id==null" class="btn btn-success btn-sm p-0" style="height: 29px;width: 40px;margin-top:-15px;" >Add</button>
   <button type="submit" *ngIf="registerForm.value.id!=null" class="btn btn-success btn-sm p-0" style="height: 29px;width: 50px;margin-top:-15px;" >Update</button>
</div>

</form>
</div>
