<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
              
                <li>
                    <a >
                      
                    </a>
                </li>
                <li>
                    <a >
                       
                    </a>
                </li>
                <li>
                    <a >
                        
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, developed by: layer3 IT
        </div>
    </div>
</footer>
