<div style="width:350px;" class="example-container">
  <h4 class="text-center">Project Holes Form</h4>
  <form style="font-size: 12px;" [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
  
    <p style="margin: 0px;">Hole</p>
    <mat-form-field appearance="outline">
      <input matInput formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
      <mat-error *ngIf="submitted && f.name.errors" >
        <span *ngIf="f.name.errors.required"> * Hole name is required !!!</span>
      </mat-error>
    </mat-form-field>
<div style="float: right;">
  <button type="button" class="btn btn-dark btn-sm" (click)="closeModal()" >Dismiss</button>
  <button type="submit" class="btn btn-success btn-sm" > Save </button>
</div>
</form>
</div>
