<div style="width:350px;" class="example-container">
  <h4 class="text-center">Rigs Form</h4>
  <form style="font-size: 12px;" [formGroup]="registerForm" (ngSubmit)="onSubmit()" >

    <p style="margin: 0px;">Rigs Id</p>
    <mat-form-field appearance="outline">
      <input matInput formControlName="rid" [ngClass]="{ 'is-invalid': submitted && f.rid.errors }">
      <mat-error *ngIf="submitted && f.rid.errors" >
        <span *ngIf="f.rid.errors.required"> * Id is required !!!</span>
      </mat-error>
    </mat-form-field>

    <p style="margin: 0px;">Serial</p>
    <mat-form-field appearance="outline">
    <input matInput formControlName="serial" [ngClass]="{ 'is-invalid': submitted && f.serial.errors }">
    <mat-error *ngIf="submitted && f.serial.errors" >
      <span *ngIf="f.serial.errors.required"> * Serial is required !!!</span>
    </mat-error>
  </mat-form-field>

 <p style="margin: 0px;">Status</p>
    <mat-form-field appearance="outline">
  <mat-select formControlName="status" [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
    <mat-option value="free">Free</mat-option>
    <mat-option value="occupied">Occupied</mat-option>
  </mat-select>
  <mat-error *ngIf="submitted && f.status.errors" >
    <span *ngIf="f.status.errors.required"> * Status is required !!!</span>
  </mat-error>
</mat-form-field>
<div style="float: right;">
  <button type="button" class="btn btn-dark btn-sm" (click)="closeModal()" >Dismiss</button>
  <button type="submit" class="btn btn-success btn-sm" > Save </button>
</div>
</form>
</div>
