<div class="table table-sm table-bordered table-hover" style="margin:0px;" >  
  <table style="font-size: 12px;" >
    <tr style="font-size: 13px;">
      <td>Task</td><td>Shift</td><td>Start time</td><td>End time</td><td>Hours Work</td><td>Worker</td><td>Worker Other</td><td>Driller</td>
      <td>Helper</td><td>Start metre</td><td>End metre</td><td>Core size</td><td style="text-align: center;">Comment</td>
    </tr>
      <tr >
        <td>{{item.task.name}}</td>
        <td class="text-center">{{item.shift}}</td>
        <td class="text-center">{{item.startTime}}</td>
        <td class="text-center">{{item.endTime}}</td>
        <td *ngIf="item.workHours!=null" class="text-center">{{item.workHours}}</td>
        <td *ngIf="item.workHours==null" class="text-center">-</td>
        <td *ngIf="item.worker1!=null" class="text-center">{{item.worker1.firstName}} {{item.worker1.lastName}}</td>
        <td *ngIf="item.worker1==null" class="text-center">-</td>
        <td *ngIf="item.worker2!=null" class="text-center">{{item.worker2.firstName}} {{item.worker2.lastName}}</td>
        <td *ngIf="item.worker2==null" class="text-center">-</td>
        <td *ngIf="item.driller!=null" class="text-center">{{item.driller.firstName}} {{item.driller.lastName}}</td>
        <td *ngIf="item.driller==null" class="text-center">-</td>
        <td *ngIf="item.helper!=null" class="text-center">{{item.helper.firstName}} {{item.helper.lastName}}</td>
        <td *ngIf="item.helper==null" class="text-center">-</td>
        <td *ngIf="item.startMeter!=null" class="text-center">{{item.startMeter}}</td>
        <td *ngIf="item.startMeter==null" class="text-center">-</td>
        <td *ngIf="item.endMeter!=null" class="text-center">{{item.endMeter}}</td>
        <td *ngIf="item.endMeter==null" class="text-center">-</td>
        <td *ngIf="item.coreSize!=null" class="text-center">{{item.coreSize.core}}</td>
        <td *ngIf="item.coreSize==null" class="text-center">-</td>
        <td *ngIf="item.comment!=null" class="text-center" ><div style="width: 100px;height:25px;overflow:auto;margin:0px;">{{item.comment}}</div></td>
        <td *ngIf="item.comment==null" class="text-center">-</td>
      </tr>
  </table>
  </div>
