<div style="width:350px;" class="example-container">
  <h4 >Project Materials Form</h4>
  <form style="font-size: 12px;" [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
    
    <p *ngIf="data.item==undefined" style="margin: 0px;">Material</p>
    <mat-form-field appearance="outline" *ngIf="data.item==undefined" (selectionChange)="set_unit_price()">
      <mat-select [multiple]="true" formControlName="materialId" 
      [ngClass]="{ 'is-invalid': submitted && f.materialId.errors }">
        <mat-option  >
          <ngx-mat-select-search placeholderLabel="Find material..." 
          i18n-placeholderLabel
          noEntriesFoundLabel="No matching material found"
          i18n-noEntriesFoundLabel [formControl]="listFilterCtrl"></ngx-mat-select-search>
        </mat-option>
        <mat-option  *ngFor="let item of filteredList | async" [value]="item">{{item.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="submitted && f.materialId.errors" >
        <span *ngIf="f.materialId.errors.required"> * Material is required !!!</span>
      </mat-error>
    </mat-form-field>

    <p *ngIf="data.item!=undefined" style="margin: 0px;">Material</p>
    <mat-form-field appearance="outline" *ngIf="data.item!=undefined"  >
      <mat-select  placeholder="{{data.item.name}}" formControlName="materialId" 
      [ngClass]="{ 'is-invalid': submitted && f.materialId.errors }" (selectionChange)="set_unit_price()">
        <mat-option>
          <ngx-mat-select-search placeholderLabel="Find material..." 
          i18n-placeholderLabel
          noEntriesFoundLabel="No matching material found"
          i18n-noEntriesFoundLabel [formControl]="listFilterCtrl"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let item of filteredList | async" [value]="item">{{item.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="submitted && f.materialId.errors" >
        <span *ngIf="f.materialId.errors.required"> * Material is required !!!</span>
      </mat-error>
    </mat-form-field>
     <p *ngIf="data.item!=undefined" style="margin: 0px;">Unit price</p>
    <mat-form-field appearance="outline" *ngIf="data.item!=undefined">
    <input type="number" matInput formControlName="unitPrice" [ngClass]="{ 'is-invalid': submitted && f.unitPrice.errors }">
    <mat-error *ngIf="submitted && f.unitPrice.errors" >
      <span *ngIf="f.unitPrice.errors.required"> * Unit price is required !!!</span>
    </mat-error>
  </mat-form-field>
<div style="float: right;">
  <button type="button" class="btn btn-dark btn-sm" (click)="closeModal()" >Dismiss</button>
  <button type="submit" class="btn btn-success btn-sm" > Save </button>
</div>
</form>
</div>
