<div style="width:350px;" class="example-container">
  <h4 >Project Core Form</h4>
  <form style="font-size: 12px;" [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
    
    <p *ngIf="data.item==undefined" style="margin: 0px;">Core</p>
    <mat-form-field appearance="outline" *ngIf="data.item==undefined">
      <mat-select [multiple]="true" formControlName="coreSizeId" 
      [ngClass]="{ 'is-invalid': submitted && f.coreSizeId.errors }">
        <mat-option>
          <ngx-mat-select-search placeholderLabel="Find core..." 
          i18n-placeholderLabel
          noEntriesFoundLabel="No matching core found"
          i18n-noEntriesFoundLabel [formControl]="listFilterCtrl"></ngx-mat-select-search>
        </mat-option>
        <mat-option  *ngFor="let item of filteredList | async" [value]="item">{{item.core}}</mat-option>
      </mat-select>
      <mat-error *ngIf="submitted && f.coreSizeId.errors" >
        <span *ngIf="f.coreSizeId.errors.required"> * Core is required !!!</span>
      </mat-error>
    </mat-form-field>

    <p *ngIf="data.item!=undefined" style="margin: 0px;">Core</p>
    <mat-form-field appearance="outline" *ngIf="data.item!=undefined">
      <mat-select placeholder="{{data.item!=undefined ? data.item.core : ''}}" formControlName="coreSizeId" 
      [ngClass]="{ 'is-invalid': submitted && f.coreSizeId.errors }">
        <mat-option>
          <ngx-mat-select-search placeholderLabel="Find core..." 
          i18n-placeholderLabel
          noEntriesFoundLabel="No matching core found"
          i18n-noEntriesFoundLabel [formControl]="listFilterCtrl"></ngx-mat-select-search>
        </mat-option>
        <mat-option  *ngFor="let item of filteredList | async" [value]="item">{{item.core}}</mat-option>
      </mat-select>
      <mat-error *ngIf="submitted && f.coreSizeId.errors" >
        <span *ngIf="f.coreSizeId.errors.required"> * Core is required !!!</span>
      </mat-error>
    </mat-form-field>
<div style="float: right;">
  <button type="button" class="btn btn-dark btn-sm" (click)="closeModal()" >Dismiss</button>
  <button type="submit" class="btn btn-success btn-sm" > Save </button>
</div>
</form>
</div>
